<section class="search-section pb-5 body-first-child">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="searchbar">
                    <input type="text" class="searchinput pl-3 w-100 rounded" placeholder="Search products...">
                    <i class="ti ti-search rounded-right"></i>
                </div>
            </div>
            
        </div>
        <div class="row mt-5">
            <div class="col-md-8 m-auto search_history_trade d-none">
                <p class="search_title font-weight-bold text-black text-uppercase font-12">History</p>
                <p class="old_search font-weight-mediam  text-uppercase font-12"><a href="" class="text-black">Shirt</a></p>
                <p class="old_search font-weight-mediam text-uppercase font-12"><a href="" class="text-black">Jeans</a></p>
                <p class="search_title font-weight-bold text-dark  font-10"><a href="" class="text-black">Remove history</a></p>
            </div>
            <div class="col-md-8 m-auto search_history_trade d-none ">
                <p class="search_title font-weight-bold text-black text-uppercase font-12 mt-3">TRENDS</p>
                <p class="old_search font-weight-mediam  text-uppercase font-12"><a href="" class="text-black">Shirt</a></p>
                <p class="old_search font-weight-mediam text-uppercase font-12"><a href="" class="text-black">Jeans</a></p>
                <p class="old_search font-weight-mediam  text-uppercase font-12"><a href="" class="text-black">Shirt</a></p>
                <p class="old_search font-weight-mediam text-uppercase font-12"><a href="" class="text-black">Jeans</a></p>
            </div>
            <div class="col-md-8 m-auto search_history_trade text-center">
                <img  class="img-fluid m-auto no_product" src="assets/images/exclamation-64.png">
                <h3><strong>No Product Found on Your Search.</strong></h3>
            </div>
            
        </div>
    </div>
</section>
<app-footer></app-footer>