<!-- Paragraph-->

  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="product-para">
          <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Paragraph end -->
  <!-- Product slider -->
  <section class="section-b-space p-t-0 mb-5">
    <div class="container-fluid fixed-width">
      <div class="row">
        <div class="col">
          <ngx-slick-carousel class="product-4 product-m no-arrow product-slider" #slickModal="slick-carousel" [config]="productSlideConfig">
            <div ngxSlickItem class="product-box" *ngFor="let product of products">
               <app-product [product]="product"></app-product>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </section>
  <!-- Product slider end -->
  