<!-- collection banner -->
<section class="banner-padding banner-furniture">
    <div class="container-fluid">
        <div class="title1 section-t-space">
            <h2 class="title-inner1">Categories</h2>
        </div>
        <div class="row partition3">
            <div class="col-md-6">
                <a [routerLink]="'/collections/collection/men'">
                    <div class="collection-banner p-left text-left">
                        <img src="assets/images/fashion/1.jpg" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>save 30%</h4>
                                <h2>women</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-md-6">
                <a [routerLink]="'/collection/product/men'">
                    <div class="collection-banner p-left text-left">
                        <img src="assets/images/fashion/2.jpg" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>save 60%</h4>
                                <h2>Men</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
<!-- collection banner end -->
<!-- collection banner -->
<section class="banner-padding banner-furniture">
    <div class="container-fluid">
        <div class="row partition3">
            <div class="col-md-6">
                <a [routerLink]="'/collection/product/all'">
                    <div class="collection-banner p-left text-left">
                        <img src="assets/images/fashion/3.jpg" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>save 30%</h4>
                                <h2>Kids</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a [routerLink]="'/collection/product/all'">
                    <div class="collection-banner p-left text-left">
                        <img src="assets/images/fashion/4.jpg" alt="" class="img-fluid">
                        <div class="contain-banner">
                            <div>
                                <h4>save 60%</h4>
                                <h2>kids</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- collection banner end -->
