<!-- section start -->
<section class="resetPwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>Reset Password</h2>
                <p class="note">ENTER THE NEW PASSWORD TWICE.</p>
                <form class="theme-form" #changePasswordForm="ngForm" (ngSubmit)="onSubmitChangePassword(changePasswordForm)" (keyup.enter)="onSubmitChangePassword(changePasswordForm)" [mustMatch]="['newPass', 'confirm_password']" novalidate>
                    <!-- hidden data -->

                    <div class="form-group">
                      <mat-form-field appearance="fill">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hide2 ? 'password' : 'text'" name="newPass" [(ngModel)]="model.newPass" #password="ngModel">
                        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide3 ? 'password' : 'text'" name="confirm_password" [(ngModel)]="model.confirm_password" #confirmPassword="ngModel">
                        <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <p *ngIf="errorMsg" class="errorMsg">{{errorMsg}}</p>
                    <button class="btn btn-solid" type="submit" [ngClass]="{'loadingEnable':isLoading}" [disabled]="!changePasswordForm.valid || isLoading">
                      <div class="spinner-border text-muted"></div>
                      Reset Password
                    </button>
                    
                  </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<app-footer></app-footer>